---
import InstructionNote from '../InstructionNote.astro';
---
<section id="imagery">
    <h2>Imagery</h2>
    
    <!-- <InstructionNote>
        Define your brand's specific rules for handling multimedia accessibility, including policies on embedded text, video captions, and motion design. Provide alt-text examples for your visual assets.
    </InstructionNote> -->

    <h3>Multimedia Policies</h3>
    <ul>
        <li><strong>Text in Images:</strong> Images used across Red Bull digital platforms should avoid embedded text whenever possible. Core information should be delivered through HTML or code-rendered text so it remains readable by assistive technologies and adaptable across devices.</li>
        <li><strong>Video & Audio:</strong> All video and audio content distributed through Red Bull digital platforms should support accessibility by ensuring that spoken information can also be accessed in text form.</li>
        <li><strong>Motion Control:</strong> Motion graphics, animation, and video used in Red Bull digital content must avoid effects that could cause discomfort, distraction, or accessibility barriers.</li>
    </ul>

    <h3>Alt-Text Style Guide</h3>
    <div class="image-grid">
        <div>
            <div class="placeholder-box" style="min-height: 200px;">
                <img src="public/img/emmanavarro.jpeg" alt="Emma Navarro performs on the court in Charleston, SC, USA on December 19, 2024.">
            </div>
            <p><strong>Alt-Text:</strong> "Emma Navarro performs on the court in Charleston, SC, USA on December 19, 2024."</p>
        </div>
        <div>
            <div class="placeholder-box" style="min-height: 200px;">
                <img src="public/img/wingsuitflying.jpg" alt="Wingsuit pilots compete at Red Bull Aces 2015">
            </div>
            <p><strong>Alt-Text:</strong> "Wingsuit pilots compete at Red Bull Aces 2015"</p>
        </div>
    </div>
</section>
