---
import InstructionNote from '../InstructionNote.astro';
---
<section id="strategy">
    <h2>Audience</h2>
    
    <!---<InstructionNote>
        Write a brief paragraph defining your brand's mission through an inclusive lens. Explicitly state who your core audience is, and document specific accessibility considerations for different user groups.
    </InstructionNote> -->

    <h3>Inclusive Mission Statement</h3>
    <p>Red Bull Media House North America, Inc. seeks to lower the technical barriers to accessibility on our website, mobile applications and other digital platforms (collectively, “Digital Platforms”) for persons with disabilities. We understand that individuals with varying disabilities may seek information on our Digital Platforms, and it is our goal to provide such individuals access to the content, features and functionality available through our website.

With the above in mind, we have taken a number of steps to make our Digital Platforms accessible. In addition, we will continue to implement commercially reasonable changes to improve accessibility to the content, features and functionality of our Digital Platforms.

</p>

    <h3>Audience Considerations</h3>
    <ul>
        <li>Low Vision/Visual Impairment: adjusting color contrast to WCAG requirements and compatible with screen readers such as NVDA and VoiceOver.</li>
        <li>Low Hearing: applying captions to videos on the website.</li>
        <li>Motor Impairments: users can use keyboard navigation to navigate the site without a mouse</li>
    </ul>
</section>