---
import InstructionNote from '../InstructionNote.astro';
---
<section id="voice">
    <h2>Voice & Language</h2>
    
    <!-- <InstructionNote>
        Define the reading level and communication style of your brand. Create a "Do / Don't" list for plain language, and set structural rules for formatting social media.
    </InstructionNote> -->

    <h3>Plain Language Guidelines</h3>
    <p> The brand voice of Red Bull is intentionally simple, energetic, and action-focused. Red Bull is designed to appeal to a global, youth leaning audience by focusing on storytelling, extreme sports, and personal achievement. The target demographic is people between the ages 15 to 45 and the target reading level is 6th to 8th grade.</p>
    <p>Preferred sentence structure are short sentences (5-14 words) with punchy rhythm. Avoid long academic sentences, multiple clauses stacked together, and a passive voice. Utilize action verbs, concrete language and sport/performance terms. Avoid technical engineering jargon and industry marketing jargon.</p>
    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th scope="col">Do Say (Inclusive/Plain)</th>
                <th scope="col">Don't Say (Exclusionary/Idiom)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Write short sentences.</td>
                <td>Write long explanations.</td>
            </tr>
            <tr>
                <td>Use vivid verbs.</td>
                <td>Use corporate jargon.</td>
            </tr>
            <tr>
                <td>Keep language simple.</td>
                <td>Over-describe.</td>
            </tr>
            <tr>
                <td>Focus on action.</td>
                <td>Use complex grammar.</td>
            </tr>
            <tr>
                <td>Use sports terminology naturally.</td>
                <td>Sound like a press release.</td>
            </tr>
        </tbody>
    </table>
    </div>
</section>